body {
  background  : white;
  font-family : 'frutigernextlt',
                Fallback,
                sans-serif;
}

.masthead {
  z-index    : 50;
  position   : relative;
  background : white;
}

.account-masthead {
  background : white;
}

.account-masthead .account ul li a {
  color : black;
}

.masthead .nav-collapse {
  float         : left !important;
  margin-bottom : 10px;
}

.homepage .module-search .module-content {
  background-color : #D31013;
}

.homepage .module-search {
  margin  : 0;
  padding : 0;
}

.homepage .search-form {
  margin-bottom: 0;
}

.navbar .nav {
  margin      : 0;
  font-family : 'frutigernextlt_condbold';
}
.account-masthead .account ul li a:hover {
  color            : black;
  background-color : none;
  text-decoration  : none;
}

.homepage .module-search .tags {
  background-color : #990000;
}

.header-image {
  flex: 0 1 auto;
}
.header-image img {
  width: 100%;
}

@media (min-width: 992px) {
  .main-navbar {
    flex: 1 0 auto;
  }
}

.masthead .site-search input {
  width   : 145px;
  padding : 6px 8px;
}

.navbar-toggler {
  background-color: #000;
}

.masthead .main-navbar {
  margin-top: 10px;
}
@media (min-width: 992px) {
  .masthead .main-navbar {
    margin-top: 0;
  }
}


.masthead .main-navbar ul {
  padding-left: 20px;
}
.masthead .navbar-nav>.active>a,
.masthead .navbar-nav>.active>a:focus,
.masthead .navbar-nav>.active>a:hover,
.masthead .navbar-nav>li>a,
.masthead .navbar-nav>li>a:focus,
.masthead .navbar-nav>li>a:hover {
  color            : #fff;
  display          : block;
  border-radius    : 0;
  background-color : black;
  text-shadow      : none;
  font-size        : 1.3em;
}

.masthead .navigation .nav-pills li.active a,
.masthead .navigation .nav-pills li a:hover {
  background-color : #D31013;
}

.masthead input[type="text"] {
  border-color : black;
}

.masthead input[type="text"]:focus {
  -webkit-box-shadow : inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow         : inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}

.account-masthead .account ul li a:hover {
  background : none;
}

.homepage .hero {
  background : url("/base/images/bg-image.jpg");
}

.media-image {
  background : url("/base/images/featured-img.jpg");
}

.site-footer,
body {
  background-color : black;
}

.site-footer,
.site-footer label,
.site-footer small {
  color : #999999;
}

.site-footer a {
  color : white;
}
@media (max-width: 768px) {
    .homepage .stats ul li{
        float: none;
    }
}
.media-heading {
   font-size: 18px;
   line-height: 1.3;
   margin: 5px 0;
   ms-word-break:  keep-all;
   webkit-hyphens:  keep-all;
   moz-hyphens:  keep-all;
   ms-hyphens:  keep-all;
   hyphens:  keep-all;
   word-break: keep-all;
}
